---
layout: layouts/base.njk
title: Mannan Shah
description: Hey, I am Full Stack Developer, a solution provider. I can help you build your next big idea
---

<div class="w-full max-w-6xl relative mx-auto px-6 py-16">
	<div class="font-header lg:text-5xl text-4xl mt-16 md:mt-28 text-custom1-500 dark:text-custom3-400 text-left w-full md:max-w-3xl tracking-tight leading-normal ">
		Hey, I'm
		<span class="half-highlight">
						Mannan Shah
		</span>, a fulltime
		<br class="hidden md:block lg:block xl:block"/>
		<span class="half-highlight">
						web developer
		</span>
		based in
		<br class="hidden md:block lg:block xl:block"/>
		Mumbai, India.
	</div>

	<div class="mt-16 lg:text-3xl text-2xl text-custom1-500 dark:text-custom3-400 text-left w-full md:max-w-3xl tracking-tight leading-normal">
		I build & design web applications, ardent fan of
		<br class="hidden md:block lg:block xl:block"/>
		web technologies & a solution provider.
	</div>

	<div class="mt-16 text-3xl text-white text-left w-48">
		<a href="#aboutme" class="bg-custom2-500 px-4 shadow-inner hvr-bounce-to-right flex" style="--color:#942235;">
			<span>About me</span>
			<span class="self-center ml-2">
				<svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M7 10V2h6v8h5l-8 8-8-8h5z"/></svg>
			</span>
		</a>
	</div>

	{# <div class="mt-12 text-3xl text-custom1-200 text-left w-full md:max-w-3xl block md:hidden">
			Say hi
			<a href="mailto:mannan@hey.com" class="border-b-8 border-custom2-500 font-medium font-header hvr-bounce-to-right">mannan@hey.com</a>
	</div> #}

	<div id="aboutme" class="my-32 text-2xl text-custom1-500 dark:text-custom3-400 text-left w-full md:max-w-3xl tracking-tight leading-normal">
		<h3 class="text-3xl text-custom1-400 mb-8 font-semibold font-header">About Me</h3>
		<p>
			Hi there, I'm Mannan Shah, a full stack web developer from Mumbai, India. Into open source web technologies & building start-ups since 8+ years, over the course of time I have grown from a Junior Developer to being CTO/Co - founder.
		</p>
		<p class="mt-4">
			I'm passionate about web development, generating business. During all the years I'm very thankful to get work in making good web applications, got exposed making business, consulted start-ups. Major focus right now is Web technologies, including Javascript, CSS & HTML.
		</p>
		<p class="mt-4">
			Since I always wanted to generate business, be your own boss attitude, I am always on #hustle mode, when not smashing keys to code I am avid adventure person have completed himalyan trek, have done river rafting & cliff diving in Ganga River, Rishikesh, have done bike riding across Leh, Ladak, India.
		</p>
		<p class="mt-4">
			I graduted in 2011 with Bachelors in Computer Science, have learned lot from my bosses & peers. Biggest contributor is the open source community, I understood lot of things from them. This is an attempt to give back to community & document my journey in terms of work/adventures/travels.
		</p>
	</div>

	<div id="otherlinks" class="flex justify-between my-28 text-2xl text-custom1-500 dark:text-custom3-400 text-left w-full md:max-w-md tracking-tight leading-normal">
		<div><h3 class="text-3xl text-custom1-400 mb-8 font-semibold font-header">Social</h3>
		<p class="mb-4">
			<a href="https://github.com/mannan1202" class="hvr-bounce-to-right" style="--color:#F73859;">Github</a>
		</p>
		<p class="mb-4">
			<a href="https://linkedin.com/in/mananbshah" class="hvr-bounce-to-right" style="--color:#F73859;">LinkedIn</a>
		</p>
		<p class="mb-4">
			<a href="https://twitter.com/cosmic_vyakti" class="hvr-bounce-to-right" style="--color:#F73859;">Twiiter</a>
		</p>
		<p class="mb-4">
			<a href="https://www.instagram.com/travelalgo/" class="hvr-bounce-to-right" style="--color:#F73859;">Instagram</a>
		</p></div>
		<div>
			<h3 class="text-3xl text-custom1-400 mb-8 font-semibold font-header">&nbsp;</h3>
			<p class="mb-4">
				<a href="mailto:mannan@hey.com" class="hvr-bounce-to-right" style="--color:#F73859;">mannan@hey.com</a>
			</p>
			<p class="mb-4">
				<a href="#" class="hvr-bounce-to-right" style="--color:#F73859;">Blog <span class="text-base"> (coming soon) </span></a>
			</p>
			<p class="mb-4">
				<a href="#" class="hvr-bounce-to-right" style="--color:#F73859;">Photography <span class="text-base"> (coming soon) </span></a>
			</p>
		</div>

	</div>


</div>
<div class="w-full max-w-6xl relative mx-auto px-6 py-4 flex flex-col justify-center">
	<div class="sexy_line"></div>
	<div class="text-custom1-500 dark:text-custom3-400 font-header self-center my-8">
		<p>&copy;2020 Mannan Shah</p>
	</div>
</div>
